.main {
  width: 100%;
  background: navy;
  height: 100vh;
}
.main h2 {
  color: white;
  font-size: 50px;
}
input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgb(212, 204, 204);
  border: none !important;
}
.items-container {
  text-align: left;
  margin-top: 20px;
}
.info-row {
  margin: 15px 8px;
}
h6 {
  color: white !important;
}

.btn-info {
  margin-right: 90px;
  min-width: 80px;
}
