.container {
  border-radius: 5px;
  width: 200px;
  border: 1px solid grey;
  margin: auto;
}
.display {
  margin: 10px;
  width: 170px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons {
  width: 45px;
  height: 45px;
  margin: 10px;
}
